/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid var(--blue);
  color: var(--blue);
}

.topnav a.active {
  border-bottom: 3px solid var(--blue);
  color: var(--blue);
}

.product:hover {
    text-decoration: none;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}
